<section class="w-100">
  <h2 class="mb-4 description-title fst-italic vw-100">{{goal.title}}</h2>
  <hr />
  <h5>Category: {{goal.category}}</h5>
  <h5>Reason: <p> {{goal.reason}} </p> </h5>

   <input type="checkbox" name="isPublic" value="{{goal.isPublic}}" class="form-check-input" {{#if isPublic}}checked{{/if}}><small>Is Public:</small>
  <br />
   <input type="checkbox" name="isPrivate" value="{{goal.isPrivate}}" class="form-check-input" {{#if isPrivate}}checked{{/if}}><small>Is Private:</small>

  <hr />
  <p>Steps:</p>

  <ul class="p-0 list-group">
    {{#each goal.steps}}
      <li class="list-group-item">
        {{step}}
      </li>
    {{/each}}
  </ul>

  <div>
    
    <button id="edit-goal" class="btn btn-primary mt-3 mb-3" type="submit">Edit Goal</button>

    <div id="edit-form" style="display: none;">
      <h2>Edit Goal</h2>
      <form method="POST" action="/my-goals/goal/{{goal._id}}">
        <div class="mb-3">
          <label for="title">Edit Goal Title:</label>
          <input
            type="text"
            name="title"
            value="{{goal.title}}"
            class="form-control"
            placeholder="Edit Goal Title"
          />
        </div>

        <div class="mb-3">
          <label for="category">Edit Goal Category:</label>
          <select name="category" required class="form-select">
            <option value="{{goal.category}}">{{goal.category}}</option>
            <option value="Health">Health</option>
            <option value="Sports">Sports</option>
            <option value="Personal Life">Personal Life</option>
            <option value="Education">Education</option>
            <option value="Career">Career</option>
            <option value="Family">Family</option>
            <option value="Financial goals">Financial goals</option>
            <option value="Lifestyle">Lifestyle</option>
            <option value="Stop bad habits">Break habits</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="reason">Edit Goal Reason:</label>
          <textarea
            name="reason"
            class="form-control"
          >{{goal.reason}}</textarea>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" name="isPublic" class="form-check-input" />
          <label class="form-check-label">Public</label>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" name="isPrivate" class="form-check-input" />
          <label class="form-check-label">Private</label>
        </div>
        {{#each goal.steps}}
   
      <li class="list-group-item">
        <div class="form-check bg-transparent">
          <input type="checkbox" name="editedStepsIsCompleted{{@index}}" class="form-check-input" {{#if isCompleted}}checked{{/if}}>
          <input type="text" name="editedSteps{{@index}}" value="{{step}}" class="form-control bg-transparent" />
        </div>
      </li>
    {{/each}}

        <button type="submit" class="btn btn-primary mt-2">Save Goal</button>
      </form>
    </div>

  </div>  
    <!-- Add the Delete button -->
    <div class="d-flex justify-content-center"><form
      id="delete-form"
      method="POST"
      action="/my-goals/deleteGoal/{{goal._id}}"
    >
      <button type="submit" id="delete-goal" class="btn btn-danger mt-3">Delete Goal</button>
    </form></div>
    
</section>

<script src="/js/editScript.js"></script>