<section class="w-100">
    <h2 class="mb-4">{{goal.title}}</h2>

 <p>Category: {{goal.category}}</p>
    <p>Reason: {{goal.reason}}</p>
    <p>Is Public: {{goal.isPublic}}</p>
    <p>Is Private: {{goal.isPrivate}}</p>

   
    <p>Steps:</p>
    <ul class="p-0 list-group">
      {{#each goal.steps}}
        <li class="list-group-item">
          {{!-- <a href="/my-goals/goal/{{this._id}}">{{this.type}}</a> --}}
            {{!-- {{this.step}} --}}
           <input type="text" name="editedSteps[]" value="{{this.step}}" class="form-control">

          (Completed: {{this.isCompleted}})
        </li>
      {{/each}}
       </ul>

    <button id="edit-goal" class="btn btn-primary mt-3">Edit Goal</button>

    <div id="edit-form" style="display: none;">
      <h2>Edit Goal</h2>
      <form method="POST" action="/my-goals/editGoal/{{goal._id}}">
        <div class="mb-3">
          <label for="title">Edit Goal Title:</label>
          <input type="text" name="title" value="{{goal.title}}" class="form-control" placeholder="Edit Goal Title">
        </div>

        <div class="mb-3">
          <label for="category">Edit Goal Category:</label>
          <select name="category" required class="form-select">
            <option value="{{goal.category}}">{{goal.category}}</option>
            <option value="Health">Health</option>
            <option value="Sports">Sports</option>
            <option value="Personal Life">Personal Life</option>
            <option value="Education">Education</option>
        <option value="Career">Career</option>
        <option value="Family">Family</option>
        <option value="Financial goals">Financial goals</option>
        <option value="Lifestyle">Lifestyle</option>
        <option value="Stop bad habits">Break habits</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="reason">Edit Goal Reason:</label>
          <textarea name="reason" class="form-control">{{goal.reason}}</textarea>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" name="isPublic" class="form-check-input">
          <label class="form-check-label">Public</label>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" name="isPrivate" class="form-check-input">
          <label class="form-check-label">Private</label>
        </div>

        <button type="submit" class="btn btn-primary">Edit Goal</button>
      </form>
    </div>

    <!-- Add the Delete button -->
    <form id="delete-form" method="POST" action="/my-goals/deleteGoal/{{goal._id}}">
      <button type="submit" id="delete-goal" class="btn btn-danger mt-3">Delete Goal</button>
    </form>
</section>






