<h1>Goal details</h1>

<div>
    <h2>{{goal.title}}</h2>
    <p>Category: {{goal.category}}</p>
    <p>Reason: {{goal.reason}}</p>
    <p>Is Public: {{goal.isPublic}}</p>
    <p>Is Private: {{goal.isPrivate}}</p>
    <p>Steps:</p>
    <ul>
        {{each goal.steps}}
        <li>{{this.type}} (Completed: {{this.isCompleted}})</li> 
        {{/each}}
    </ul>

</div>

