<section class="h-100">
<div class="container">
  <h1 class="text-center mb-4">Create Your Goal</h1>
  <form id="steps-form">
    <button id="new-step" class="btn btn-primary">+ Create a new step</button>
  </form>
  <form action="/my-goals/createGoal" method="POST">
    <label class="mb-2">
      What is your goal?
      <input type="text" name="title" required class="form-control" placeholder="Goals title">
    </label>
    <label class="mb-2">
      Steps:
      <ol id="step-container" class="list-unstyled">
        <li class="mb-2">
          <input type="text" name="step" class="form-control">
          Do you have any blockers?
          <input type="text" name="blockers" class="form-control">
          <label class="form-check-label">
            Done
            <input type="checkbox" name="isCompleted" class="form-check-input">
          </label>
        </li>
      </ol>
    </label>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    <label class="mb-2">
      Category:
      <select name="category" required class="form-select">
        <option value="Health">Health</option>
        <option value="Sports">Sports</option>
        <option value="Personal Life">Personal Life</option>
        <!-- Add other options -->
      </select>
    </label>
    <div class="mb-2">
      <label>
        <p>
          Why do you want this?
        </p>
        <textarea name="reason" class="form-control"></textarea>
      </label>
    </div>
    <label class="form-check mb-2">
      Public:
      <input type="checkbox" name="isPublic" class="form-check-input">
    </label>
    <label class="form-check mb-2">
      Private:
      <input type="checkbox" name="isPrivate" class="form-check-input">
    </label>
    <button type="submit" class="btn btn-primary">CREATE YOUR GOAL!</button>
  </form>
</div>




<h1 class="text-align-center mb-0">Goal details</h1>

<div>
  <h2 class="mb-10">{{goal.title}}</h2>
  <p>Category: {{goal.category}}</p>
  <p>Reason: {{goal.reason}}</p>
  <p>Is Public: {{goal.isPublic}}</p>
  <p>Is Private: {{goal.isPrivate}}</p>
  <p>Steps:</p>
  <ul class="p-0 list-group">
    {{#each goal.steps}}
      <li class="list-group-item">
        <a href="/my-goals/goal/{{this._id}}">{{this.type}}</a>
        (Completed:
        {{this.isCompleted}})</li>
    {{/each}}
  </ul>
</div>

<button id="edit-goal" class="btn">Edit Goal</button>

<div id="edit-form" style="display: none;">
  <h2>Edit Goal</h2>
  <form method="POST" action="/my-goals/editGoal/{{goal._id}}">

    <input
      type="text"
      name="title"
      value="{{goal.title}}"
      placeholder="Edit Goal Title"
    />

    <label for="category">Category:
      <select name="category" required>
        <option value="{{goal.category}}"> "Edit Goal Category"</option>
        <option value="Health">Health</option>
        <option value="Sports">Sports</option>
        <option value="Personal Life">Personal Life</option>
        <option value="Education">Education</option>
        <option value="Career">Career</option>
        <option value="Family">Family</option>
        <option value="Financial goals">Financial goals</option>
        <option value="Lifestyle">Lifestyle</option>
        <option value="Stop bad habits">Stop bad habits</option>
      </select>
    </label><br />

    <div>
      <label for="reason">
        <p>
          Why do you want this?
        </p>
        <textarea
          name="reason"
          placeholder="Edit Goal Reason"
        >{{goal.reason}}</textarea>
      </label>
    </div>

    <label for="isPublic">Public:
      <input type="checkbox" name="isPublic" /></label>

    <label for="isPrivate">Private:
      <input type="checkbox" name="isPrivate" /></label><br />

    <button type="submit" class="btn">Edit Goal</button>
  </form>
</div>



<!-- Add the Delete button -->
<form id="delete-form" method="POST" action="/my-goals/deleteGoal/{{goal._id}}">
  <button type="submit" id="delete-goal" class="btn">Delete Goal</button>
</form>

</section>










