{{!-- <style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  h2 {
    font-size: 24px;

  }
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  a:hover {
    color: #0056b3;
  } --}}
  {{!-- button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
</style> --}}


<div class="container">
  <h1 class="text-center mb-4">Create Your Goal</h1>
  <form id="steps-form">
    <button id="new-step" class="btn btn-primary">+ Create a new step</button>
  </form>
  <form action="/my-goals/createGoal" method="POST">
    <label class="mb-2">
      What is your goal?
      <input type="text" name="title" required class="form-control" placeholder="Goals title">
    </label>
    <label class="mb-2">
      Steps:
      <ol id="step-container" class="list-unstyled">
        <li class="mb-2">
          <input type="text" name="step" class="form-control">
          Do you have any blockers?
          <input type="text" name="blockers" class="form-control">
          <label class="form-check-label">
            Done
            <input type="checkbox" name="isCompleted" class="form-check-input">
          </label>
        </li>
      </ol>
    </label>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    <label class="mb-2">
      Category:
      <select name="category" required class="form-select">
        <option value="Health">Health</option>
        <option value="Sports">Sports</option>
        <option value="Personal Life">Personal Life</option>
        <!-- Add other options -->
      </select>
    </label>
    <div class="mb-2">
      <label>
        <p>
          Why do you want this?
        </p>
        <textarea name="reason" class="form-control"></textarea>
      </label>
    </div>
    <label class="form-check mb-2">
      Public:
      <input type="checkbox" name="isPublic" class="form-check-input">
    </label>
    <label class="form-check mb-2">
      Private:
      <input type="checkbox" name="isPrivate" class="form-check-input">
    </label>
    <button type="submit" class="btn btn-primary">CREATE YOUR GOAL!</button>
  </form>
</div>


{{!-- <br /> --}}



<a href="/userProfile">Profile</a>
<a href="/my-goals">All my goals</a>

<h1 class="text-align-center mb-0">Goal details</h1>

<div>
  <h2 class="mb-10">{{goal.title}}</h2>
  <p>Category: {{goal.category}}</p>
  <p>Reason: {{goal.reason}}</p>
  <p>Is Public: {{goal.isPublic}}</p>
  <p>Is Private: {{goal.isPrivate}}</p>
  <p>Steps:</p>
  <ul class="p-0 list-group">
    {{#each goal.steps}}
      <li class="list-group-item">
        <a href="/my-goals/goal/{{this._id}}">{{this.type}}</a>
        (Completed:
        {{this.isCompleted}})</li>
    {{/each}}
  </ul>
</div>

<button id="edit-goal" class="btn">Edit Goal</button>

<div id="edit-form" style="display: none;">
  <h2>Edit Goal</h2>
  <form method="POST" action="/my-goals/editGoal/{{goal._id}}">

    <input
      type="text"
      name="title"
      value="{{goal.title}}"
      placeholder="Edit Goal Title"
    />

    <label for="category">Category:
      <select name="category" required>
        <option value="{{goal.category}}"> "Edit Goal Category"</option>
        <option value="Health">Health</option>
        <option value="Sports">Sports</option>
        <option value="Personal Life">Personal Life</option>
        <option value="Education">Education</option>
        <option value="Career">Career</option>
        <option value="Family">Family</option>
        <option value="Financial goals">Financial goals</option>
        <option value="Lifestyle">Lifestyle</option>
        <option value="Stop bad habits">Stop bad habits</option>
      </select>
    </label><br />

    <div>
      <label for="reason">
        <p>
          Why do you want this?
        </p>
        <textarea
          name="reason"
          placeholder="Edit Goal Reason"
        >{{goal.reason}}</textarea>
      </label>
    </div>

    <label for="isPublic">Public:
      <input type="checkbox" name="isPublic" /></label>

    <label for="isPrivate">Private:
      <input type="checkbox" name="isPrivate" /></label><br />

    <button type="submit" class="btn">Edit Goal</button>
  </form>
</div>

{{! This is to display the Edit form when the Edit button is clicked. }}
<script>
  const editButton = document.getElementById('edit-goal'); 
  const editForm = document.getElementById('edit-form'); 
  editButton.addEventListener('click', () => { 
    console.log('click')
    editForm.style.display = 'block'; 
  });
</script>

<!-- Add the Delete button -->
<form id="delete-form" method="POST" action="/my-goals/deleteGoal/{{goal._id}}">
  <button type="submit" id="delete-goal" class="btn">Delete Goal</button>
</form>


<script>
    const deleteButton = document.getElementById('delete-goal');
    const deleteForm = document.getElementById('delete-form');
    deleteButton.addEventListener('click', () => {
      const confirmed = confirm('Are you sure you want to delete this goal?');
      if (confirmed) {
        deleteForm.submit();
      }
    });
  </script>



